/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */


html{
    background-color: white;
}
header{
    background-color: aquamarine;
    padding-top: 20px;
}
footer{
background-color: aquamarine;
padding-top: 20px;
}
h1{
    text-align: center;
}
p{
    color: rgb(255, 0, 255);
    font-style:italic;
}
.image{
    border-color: red;
    border-width: 20px;
    border-style: solid;
}
.font {
    font-family:Helvetica, sans-serif;
}
